@font-face {
    font-family: ManropeReg;
    src: url(./Manrope-Regular.ttf);
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}





body{
    background-color: #F0F0F0;
}

.header{
    background: #ffffff;
    font-family: ManropeReg;
    padding-left: 12vw;
    padding-right: 12vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    height: 88px;
}
.header-left, .header-right{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1vw;
}
.header h1{
    color: #009661;
    font-weight: bold;
    font-size: 1.875rem;
    margin-right: 1vw;
}
.header h2{
    font-size: 1rem;
    display: flex;
    align-items: center;
}
.header h2 img{
    margin-left: .3vw;
    height: .6rem;
}
.header button{
    font-size: 1rem;
    text-transform: uppercase;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: .5rem;
    color: #009661;
    font-weight: bold;
    cursor: pointer;
}
.header button:hover{
    background: #ececec;
}