body{
    display: inline-flex;
    gap: 100px;
    padding: 20vh;
}

.load, .loaded{
    width: 500px;
    height: 60vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    border-radius: .5em;
}
.load{
    background: #366ab8;
}
.loaded{
    background: #428f47;
}
input[type="file"]{
    color: #fff;
}
img{
    width: 300px;
    height: 200px;
    background-size: contain;
    border-radius: .5em;
    border: 2px solid #206b2a;
}